
<!-- コメント部分 -->
<div class="">
  <% if user_signed_in? %>
    <div id="text" class="text-center" style="color: #FFF">
    <!-- ここから入力 -->
      <%= form_for @comment, remote: true do |f| %>
        <%= hidden_field_tag :fight_id, @fight.id %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= f.text_area :comment, placeholder: "コメントする", size:"30x2", class: "form-control" %>
        <%= f.submit "コメント" ,class: "btn btn-warning btn-sm col-12" %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>するとコメントができます。★</p>
  <% end %>
</div>
<hr class="style3">

<div id="comment_text" class="">
<% @comments.each do |comment| %>
  <%= render partial: "comments/comment_texts", locals:{comment: comment} %>
<% end %>
</div>
