
<div class="float-left">
  <h4><%= link_to comment.user.nickname, user_path(comment.user) %></h4>
  <small><%= simple_format (comment.comment) %></small>
</div>
<div class="float-right">
  <% if user_signed_in? %>
    <%= render partial: "likes/like_form", locals:{comment: comment} %>
  <% end %>
</div>
<br>
<button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#judges<%= comment.user.id %>"><%= comment.user.nickname %>Score</button>
<div class="modal fade" id="judges<%= comment.user.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content box-footer-in">
      <%= render partial: "judges/user_judge", locals:{comment: comment} %>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-light col-12" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
<hr>