

<table class="table table-bordered table-hover table-sm">
  <caption><%= link_to comment.user.nickname, user_path(comment.user) %>さんの採点表</caption>
  <thead  class="table-light">
    <tr class="active">
      <th class="text-left"><%= @fight.player_A %></th>
      <th class="text-center">R</th>
      <th class="text-right"><%= @fight.player_B %></th>
    </tr>
  </thead>
  <% user_judges = @judges.where(user_id: comment.user.id, fight_id: @fight.id) %>
<!-- トータルの計算 -->
  <% point_A = 0 %>
  <% point_B = 0 %>
  <% num = 0 %>
  <% judges_point = user_judges.pluck(:range) %>
  <% while num < judges_point.count do %>
    <% if judges_point[num] >= 0 %>
      <% point_A = point_A + (10 - judges_point[num]) %>
      <% point_B = point_B + 10 %>
    <% elsif judges_point[num] < 0 %>
      <% point_A = point_A + 10 %>
      <% point_B = point_B + (10 - (-1 * judges_point[num])) %>
    <% end %>
    <% num += 1 %>
  <% end %>
<!-- 計算終わり -->
  <tbody class="table-light">
  <% user_judges.each do |judges| %>
    <% if judges.range > 0 %>
      <tr>
        <th class="text-left"><%= 10 - judges.range %></th>
        <th class="text-center"><%= judges.round %></th>
        <th class="text-right table-primary">10</th>
      </tr>
    <% elsif judges.range < 0 %>
      <tr>
        <th class="text-left table-danger">10</th>
        <th class="text-center"><%= judges.round %></th>
        <th class="text-right"><%= 10 - (-1 * judges.range) %></th>
      </tr>
    <% else %>
      <tr>
        <th class="text-left">10</th>
        <th class="text-center"><%= judges.round %></th>
        <th class="text-right">10</th>
      </tr>
    <% end %>
  <% end %>
  <% if point_A > point_B %>
    <tr class="">
      <th class="text-left table-danger"><%= point_A %></th>
      <th class="text-center table-secondary">Total you Score</th>
      <th class="text-right"><%= point_B %></th>
    </tr>
  <% elsif point_A < point_B %>
    <tr class="">
      <th class="text-left"><%= point_A %></th>
      <th class="text-center table-secondary">Total you Score</th>
      <th class="text-right table-primary"><%= point_B %></th>
    </tr>
  <% else %>
    <tr class="">
      <th class="text-left table-secondary"><%= point_A %></th>
      <th class="text-center table-secondary">Total you Score</th>
      <th class="text-right table-secondary"><%= point_B %></th>
    </tr>
  <% end %>
  </tbody>
</table>

