

<div class="card col-lg-12">

<script>
//グラフ
var doughnutData = [
  {
    value: <%= Forecast.where(fight_id: forecast.fight, support: forecast.fight.player_A).count %>,
    color:"red",
    highlight: "red",
    label: "<%= forecast.fight.player_A %>"
  },
  {
    value: <%= Forecast.where(fight_id: forecast.fight, support: forecast.fight.player_B).count %>,
    color: "blue",
    highlight: "blue",
    label: "<%= forecast.fight.player_B %>"
  },
  {
    value: <%= Forecast.where(fight_id: forecast.fight, support: "ドロー").count %>,
    color: "#edef9c",
    highlight: "#fcfea6",
    label: "ドロー"
  }
];
window.onload = function(){
  var ctx = document.getElementById("chart<%= forecast.fight.id %>").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
    responsive : true
  });
}
</script>


  <p><%= link_to "#{forecast.fight.player_A} VS #{forecast.fight.player_B}", new_forecast_path(fight_id: forecast.fight.id) %></p>
  <div style="width: 30%">
    <canvas id="chart<%= forecast.fight.id %>"></canvas>
  </div><br>
  <% if forecast.support == forecast.fight.player_A %>
    <p class="badge badge-danger"><%= forecast.support %>を支持</p>
  <% elsif forecast.support == forecast.fight.player_B %>
    <p class="badge badge-primary"><%= forecast.support %>を支持</p>
  <% elsif forecast.support == "ドロー" %>
    <p class="badge badge-light"><%= forecast.support %>を支持</p>
  <% end %>
  <%= simple_format (forecast.detail) %>
</div>
