
<header id="header" class="">
  <div class="text-center">
    <h2><%= link_to @user.nickname, user_path(@user) %></h2>
    <% if user_signed_in? %>
      <% unless current_user.id == @user.id %>
        <%= render "follow_form" %>
      <% end %>
    <% end %>
    <% if user_signed_in? && current_user.id == @user.id %>
      <div class="profile_edit">
        <%= link_to "プロフィールを編集", edit_user_path(current_user) %>
      </div>
    <% end %>

    <section>
      <%= render "users/stats" %>
    </section>
  </div>
</header><!-- /header -->
<hr>

<div class="text-center">
  <% @user.followers.each do |user| %>
    <%= link_to "#{user.nickname}", user_path(user) %>
  <% end %>

  <h5><%= link_to "#{@user.nickname}さんのトップページへ", user_path(@user), {:class => "btn btn-default"} %></h5>
</div>