<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= form_tag(new_forecast_path, method: :get) do %>
      <%= hidden_field_tag(:fight_id, @fight.id) %>
      <%= submit_tag("予想一覧へ", class: "btn btn-light") %>
    <% end %>
    <br>
  </div>
</header>

<script>
//グラフ
var doughnutData = [
  {
    value: <%= Forecast.where(fight_id: @fight, support: @fight.player_A).count %>,
    color:"red",
    highlight: "red",
    label: "<%= @fight.player_A %>"
  },
  {
    value: <%= Forecast.where(fight_id: @fight, support: @fight.player_B).count %>,
    color: "blue",
    highlight: "blue",
    label: "<%= @fight.player_B %>"
  },
  {
    value: <%= Forecast.where(fight_id: @fight, support: "ドロー").count %>,
    color: "#edef9c",
    highlight: "#fcfea6",
    label: "ドロー"
  }
];
window.onload = function(){
  var ctx = document.getElementById("chart").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
    responsive : true
  });
}
</script>


<div class="text-center">
  <h5 class="badge badge-pill badge-secondary">採点数 <span class="badge badge-light"><%= @fight.judges.select(:user_id).distinct.count %></span></h5>
  <h5 class="badge badge-pill badge-secondary">コメント数 <span class="badge badge-light"><%= @fight.comments.count %></span></h5>
  <h5 class="badge badge-pill badge-secondary">予想数 <span class="badge badge-light"><%= @forecasts.count %></span></h5>
  <% if user_signed_in? %>
    <%= form_for(@forecast) do |f| %>
      <%= @fight.player_A %>の勝利<%= f.radio_button :support, "#{@fight.player_A}" %>
      <%= @fight.player_B %>の勝利<%= f.radio_button :support, "#{@fight.player_B}" %>
      引き分け<%= f.radio_button :support, "ドロー" %>
      <%= f.text_area :detail, placeholder: "コメントする", size:"30x10", class: "form-control" %>
      <%= f.hidden_field :fight_id %>
      <%= f.submit "予想する", size:"30x10", class: "btn btn-warning col-12" %>
    <% end %>
  <% else %>
    <p class="text-center" style="color: #FFF">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>すると投稿できます。★</p>
  <% end %>
</div>

<canvas id="chart<%= @fight.id %>" width="100" height="25"></canvas>

<div class="card col-lg-12">
  <small class="text-center">コメント一覧</small>
  <hr class="style3">
  <% @real_forecast.each do |forecast| %>
    <%= render partial: "forecasts/forecast", locals:{forecast:forecast} %>
  <% end %>
</div>