<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <div class="btn btn-light"><%= link_to "採点一覧へ", fight_path(@fight.id) %></div><br>
    <br>
  </div>
</header>

<script>
//グラフ
var doughnutData = [
  {
    value: <%= Forecast.where(fight_id: @fight, support: @fight.player_A).count %>,
    color:"#9bcad0",
    highlight: "#a7d7de",
    label: "<%= @fight.player_A %>"
  },
  {
    value: <%= Forecast.where(fight_id: @fight, support: @fight.player_B).count %>,
    color: "#d5a87f",
    highlight: "#e4b68a",
    label: "<%= @fight.player_B %>"
  },
  {
    value: <%= Forecast.where(fight_id: @fight, support: "ドロー").count %>,
    color: "#edef9c",
    highlight: "#fcfea6",
    label: "ドロー"
  }
];
window.onload = function(){
  var ctx = document.getElementById("chart").getContext("2d");
  window.myDoughnut = new Chart(ctx).Doughnut(doughnutData, {
    responsive : true
  });
}
</script>

<div class="text-center">
  <h4><span class="badge">予想数<%= @forecasts.count %></span></h4>
  <% if user_signed_in? %>
    <% my_detail = Forecast.find_by(user_id: current_user.id, fight_id: @fight) %>
    <% if my_detail.blank? %>
        <%= form_for(@forecast) do |f| %>
          <%= @fight.player_A %>の勝利<%= f.radio_button :support, "#{@fight.player_A}" %>
          <%= @fight.player_B %>の勝利<%= f.radio_button :support, "#{@fight.player_B}" %>
          引き分け<%= f.radio_button :support, "ドロー" %>
          <%= f.text_area :detail, placeholder: "コメントする", size:"30x10", class: "form-control" %>
          <%= f.hidden_field :fight_id %>
          <%= f.submit "予想する", size:"30x10", class: "btn btn-warning col-12" %>
        <% end %>
      </div>
    <% else %>
      <h5>あなたは<b><%= @user_support.support %></b>を支持しています</h5>
      <%= link_to "自分の投稿を編集", edit_forecast_path(@fight.forecasts, fight_id: @fight.id), class: "btn btn-warning withripple" %>
    <% end %>
  <% else %>
    <p class="text-center">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>すると投稿できます。★</p>
  <% end %>

    <hr class="style3">
<!--
    <ul class="graph">
      <li class="percent20">20%</li>
      <li class="percent40">40%</li>
      <li class="percent60">60%</li>
      <li class="percent80">80%</li>
      <li class="percent100">100%</li>
    </ul> -->

    <div style="width: 70%">
      <canvas id="chart"></canvas>
    </div>

    <small>コメント一覧</small>
    <hr class="style-two">
    <% @real_forecast.each do |forecast| %>
      <%= render partial: "forecasts/forecast", locals:{forecast:forecast} %>
    <% end %>
</div>
