<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= link_to "採点一覧へ", fight_path(@fight.id), class: "btn btn-light" %><br>
    <br>
  </div>
</header>

<% @forecast_A = @forecasts.where(fight_id: @fight, support: @fight.player_A).count %>
<% @forecast_B = @forecasts.where(fight_id: @fight, support: @fight.player_B).count %>
<% @forecast_draw = @forecasts.where(fight_id: @fight, support: "ドロー").count %>
<% @forecast_all = (@forecast_draw + @forecast_A + @forecast_B) %>
<script>
  var ctx = document.getElementById('chart<%= @fight.id %>');
  var myBarChart = new Chart(ctx, {
    type: 'horizontalBar',
    borderWidth: 3,
    data: {
      datasets: [{
        label: "<%= @fight.player_A %>",
        data: [<%= @forecast_A.round(2) / @forecast_all.round(2) * 100 %>],
        backgroundColor: "rgba(244, 143, 177, 0.6)"
      },{
        label: "ドロー",
        data: [<%= @forecast_draw.round(2) / @forecast_all.round(2) * 100 %>],
        backgroundColor: "rgba(255, 235, 59, 0.6)"
      },{
        label: "<%= @fight.player_B %>",
        data: [<%= @forecast_B.round(2) / @forecast_all.round(2) * 100 %>],
        backgroundColor: "rgba(100, 181, 246, 0.6)"
      }]
    },
    options:{
      scales:{
        xAxes:[{
          stacked: true
        }],
        yAxes:[{
          stacked: true
        }]
      }
    }
  });
</script>

<div class="text-center">
  <h5 class="badge badge-pill badge-secondary">採点数 <span class="badge badge-light"><%= @fight.judges.select(:user_id).distinct.count %></span></h5>
  <h5 class="badge badge-pill badge-secondary">コメント数 <span class="badge badge-light"><%= @fight.comments.count %></span></h5>
  <h5 class="badge badge-pill badge-secondary">予想数 <span class="badge badge-light"><%= @forecasts.count %></span></h5>
  <% if user_signed_in? %>
    <% my_detail = Forecast.find_by(user_id: current_user.id, fight_id: @fight) %>
    <% if my_detail.blank? %>
        <%= form_for(@forecast) do |f| %>
          <%= @fight.player_A %>の勝利<%= f.radio_button :support, "#{@fight.player_A}" %>
          <%= @fight.player_B %>の勝利<%= f.radio_button :support, "#{@fight.player_B}" %>
          引き分け<%= f.radio_button :support, "ドロー" %>
<!-- 予想のボタン（bootstrap）
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary active">
              <input type="radio" name="support" id="#{@fight.player_A}" autocomplete="off"" checked> <%= @fight.player_A %>の勝利
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="support" id="#{@fight.player_B}" autocomplete="off"> <%= @fight.player_B %>の勝利
            </label>
            <label class="btn btn-secondary">
              <input type="radio" name="support" id="#{ドロー}" autocomplete="off"> 引き分け
            </label>
          </div> -->

          <%= f.text_area :detail, placeholder: "コメントする", size:"30x10", class: "form-control" %>
          <%= f.hidden_field :fight_id %>
          <%= f.submit "予想する", size:"30x10", class: "btn btn-warning col-12" %>
        <% end %>
      </div>
    <% else %>
      <h5>あなたは<b><%= @user_support.support %></b>を支持しています</h5>
      <%= link_to "自分の投稿を編集", edit_forecast_path(@fight.forecasts, fight_id: @fight.id), class: "btn btn-warning withripple" %>
    <% end %>
  <% else %>
    <p class="text-center">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>すると投稿できます。★</p>
  <% end %>
</div>

<canvas id="chart<%= @fight.id %>" width="100" height="25"></canvas>

<div class="card col-lg-12">
  <small class="text-center">コメント一覧</small>
  <hr class="style3">
  <% @real_forecast.each do |forecast| %>
    <%= render partial: "forecasts/forecast", locals:{forecast:forecast} %>
  <% end %>
</div>
