<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= form_tag(new_forecast_path, method: :get) do %>
      <%= hidden_field_tag(:fight_id, @fight.id) %>
      <%= submit_tag("予想一覧へ", class: "btn btn-default") %>
    <% end %>
    <br>
  </div>
</header>

<div class="text-center">
  <h4><span class="badge">コメント数<%= @comments.count %></span></h4>
  <hr class="style3">

  <% @comments.each do |comment| %>
    <div class="pull-left">
      <h4><%= link_to comment.user.nickname, user_path(comment.user) %></h4>
      <small><%= simple_format (comment.comment) %></small>
    </div>
    <div class="pull-right">
      <% if comment.likes.present? %>
        いいねの数<span class="badge"><%= comment.likes.count %></span>
      <% end %>
      <% if user_signed_in? %>
        <%= render partial: "likes/like_form", locals:{comment: comment} %>
      <% end %>
    </div>
  <% end %>

<!-- コメント部分 -->
  <div class="navbar-fixed-bottom box-footer-in">
    <% if user_signed_in? %>
      <div class="text-center" style="color: #FFF">
      <!-- ここから入力 -->
        <%= form_for(@comment) do |f| %>
          <%= f.text_area :comment, placeholder: "コメントする", size:"30x2", class: "form-control" %>
          <%= f.submit "コメント" ,class: "btn btn-warning col-xs-12" %>
        <% end %>
      </div>
    <% else %>
      <p class="text-center" style="color: #FFF">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>するとコメントができます。★</p>
    <% end %>
  </div>
</div>