<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= form_tag(new_forecast_path, method: :get) do %>
      <%= hidden_field_tag(:fight_id, @fight.id) %>
      <%= submit_tag("予想一覧へ", class: "btn btn-light") %>
    <% end %>
    <br>
  </div>
</header>

<div class="text-center">
  <h4><span class="badge">コメント数<%= @comments.count %></span></h4>
  <%= render partial: "comments/comment" %>
</div>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  ココを押すと表示
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content box-footer-in">
      <%= render partial: "judges/user_judge" %>
    </div>
  </div>
</div>

