<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= form_tag(new_forecast_path, method: :get) do %>
      <%= hidden_field_tag(:fight_id, @fight.id) %>
      <%= submit_tag("予想一覧へ", class: "btn btn-light") %>
    <% end %>
    <br>
  </div>
</header>

<div class="text-center">
  <h4><span class="badge">コメント数<%= @comments.count %></span></h4>
  <%= render partial: "comments/comment" %>
</div>

<div class="">
  <% if user_signed_in? %>
    <button type="button" class="btn btn-warning col-12 fixed-bottom" data-toggle="modal" data-target="#myModal"><big>採点する</big></button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box-footer-in">
          <%= render partial: "judges/my_judge" %>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary col-12" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <button type="button" class="btn btn-warning col-12 fixed-bottom" data-toggle="modal" data-target="#myModal"><big>採点する</big></button>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content box-footer-in">
          <p class="text-center" style="color: #FFF">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>するとコメントができます。★</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary col-12" data-dismiss="modal">閉じる</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

