<header class="alert-secondary">
  <div class="text-center">
    <h2 ><%= link_to "#{@fight.player_A} VS #{@fight.player_B}", fight_path(@fight) %></h2>
    <h4>in<%= @fight.place %></h4>
    <% if user_signed_in? && current_user.id == @fight.user_id %>
      <p><%= link_to "編集", edit_fight_path(@fight) %></p>
      <!-- 削除 -->
    <% end %>
    <p><%= simple_format(@fight.detail) %></p>
    <%= form_tag(new_forecast_path, method: :get) do %>
      <%= hidden_field_tag(:fight_id, @fight.id) %>
      <%= submit_tag("予想一覧へ", class: "btn btn-light") %>
    <% end %>
    <br>
  </div>
</header>
<div class="text-center">
  <h5 class="badge badge-pill badge-secondary">採点数 <span class="badge badge-light"><%= @fight.judges.select(:user_id).distinct.count %></span></h5>
  <h5 class="badge badge-pill badge-secondary">コメント数 <span class="badge badge-light"><%= @comments.count %></span></h5>
</div>


<ul class="nav nav-tabs">
  <li class="nav-item"><a class="nav-link active" href="#sampleContentX" data-toggle="tab">コメント</a></li>
  <li class="nav-item"><a class="nav-link" href="#sampleContentY" data-toggle="tab">採点結果</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="sampleContentX">
    <%= render partial: "comments/comment" %>

    <div class="">
      <% if user_signed_in? %>
        <button type="button" class="btn btn-warning btn-lg col-12 fixed-bottom" data-toggle="modal" data-target="#myModal"><big>採点する</big></button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content box-footer-in">
              <%= render partial: "judges/my_judge" %>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light col-12" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <button type="button" class="btn btn-warning btn-lg col-12 fixed-bottom" data-toggle="modal" data-target="#myModal"><big>採点する</big></button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content box-footer-in">
              <p class="text-center" style="color: #FFF">★<%= link_to "会員登録", new_user_registration_path %>、あるいは<%= link_to "ログイン", new_user_session_path %>するとコメントができます。★</p>
              <div class="modal-footer">
                <button type="button" class="btn btn-light col-12" data-dismiss="modal">閉じる</button>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="tab-pane" id="sampleContentY">
    <% @judges.group(:round).each do |round| %>
      <%= render partial: "fights/total", locals:{round:round} %>
    <% end %>
  </div>
</div>


