<nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
  <div class="container">
  <a class="navbar-brand" href="/">BoxShare</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "試合を投稿する", new_fight_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">アカウント</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
            <%= link_to "MYページ", user_path(current_user), class: 'dropdown-item' %>
            <%= link_to "編集", edit_user_path(current_user), class: 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path, class: 'dropdown-item' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'dropdown-item' %>
          <% end %>
        </div>
      </li>
    </ul>
    <%= form_tag('/fights/search', method: :get) do %>
      <input class="form-control form_inline mr-sm-2" name="keyword" placeholder="選手名で検索" type="text" value=""></input>
      <button class="btn btn-outline-success my-2 my-sm-0" title="検索" type="submit">検索</button>
    <% end %>
  </div>
</nav>

