<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>BoxShare</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
  <link rel="stylesheet" href="assets/stylesheets/custom.css">

</head>
<body class="backcolor-body">
  <%= render partial: "common/header" %>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= yield %>
      </div>
    </div>
  </div>

<footer class="text-center">
  Copyright BoxShare 2018
</footer>
</body>
</html>
